.spinner {
  text-align: center;
  margin-top: 40vw;
}

.no-stock {
  color: red;
}
.less-stock {
  color: orange;
}
.plenty-stock {
  color: green;
}

ion-card-title {
  font-size: 1.5em;
}
ion-card-subtitle {
  font-size: 1.5em;
}

h2 {
  font-weight: bold;
}

p{
  display: inline;
  font-weight: bold;
}
