<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Project Name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>

  <div *ngIf="!isLoading">
    <h1>Added Pump</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Pump Model: {{loadedPumpData.Pumps.PumpName}}
        </ion-card-title>
        <ion-card-subtitle>
          Added Quantity: {{loadedPumpQuantity}}
        </ion-card-subtitle>
        <ion-card-subtitle>
          Order Amount: {{loadedPumpQuantity*500}} CHF
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          <h2>Stocks</h2>
          <p
            [ngClass]="stylePumpStockClass(loadedPumpData.Stocks.ActualStock_ZH6)"
          >
            Zurich {{loadedPumpData.Stocks.ActualStock_ZH6}} Stk./
          </p>
          <p
            [ngClass]="stylePumpStockClass(loadedPumpData.Stocks.ActualStock_WET)"
          >
            Wettingen {{loadedPumpData.Stocks.ActualStock_WET}} Stk./
          </p>
          <p
            [ngClass]="stylePumpStockClass(loadedPumpData.Stocks.ActualStock_GLA)"
          >
            Glattbrugg {{loadedPumpData.Stocks.ActualStock_GLA}} Stk./
          </p>
          <br />
          <p
            [ngClass]="stylePumpStockClass(loadedPumpData.Stocks.ActualStock_ATTI)"
          >
            Altstetten {{loadedPumpData.Stocks.ActualStock_ATTI}} Stk./
          </p>
          <p
            [ngClass]="stylePumpStockClass(loadedPumpData.Stocks.ActualStock_WETZ)"
          >
            Wetzikon {{loadedPumpData.Stocks.ActualStock_WETZ}} Stk./
          </p>
          <br />
          <br />
        </ion-label>
        <ion-button color="primary" (click)="goBack()"> Edit Order </ion-button>
      </ion-card-content>
    </ion-card>
    <br />
    <br />
    <h1>Enter Project Name</h1>
    <form #data="ngForm" (ngSubmit)="onSubmit(data)">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Project Name</ion-label>
          <ion-input
            type="text"
            ngModel
            name="ProjectName"
            required
          ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button
        type="submit"
        color="primary"
        expand="block"
        class="ion-padding"
        [disabled]="!data.valid"
      >
        Submit Order
      </ion-button>
    </form>
  </div>
</ion-content>
