<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="discard()"
        ><ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>

    <ion-title>Chosen Pump</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>
  <ion-item *ngIf="!isLoading" lines="none">
    <ion-label>
      <h1>{{loadedPumpRecord.Pumps.PumpName}}</h1>
      <p
        [ngClass]="stylePumpStockClass(loadedPumpRecord.Stocks.ActualStock_ZH6)"
      >
        Zurich {{loadedPumpRecord.Stocks.ActualStock_ZH6}} Stk./
      </p>
      <p
        [ngClass]="stylePumpStockClass(loadedPumpRecord.Stocks.ActualStock_WET)"
      >
        Wettingen {{loadedPumpRecord.Stocks.ActualStock_WET}} Stk./
      </p>
      <p
        [ngClass]="stylePumpStockClass(loadedPumpRecord.Stocks.ActualStock_GLA)"
      >
        Glattbrugg {{loadedPumpRecord.Stocks.ActualStock_GLA}} Stk./
      </p>
      <br />
      <p
        [ngClass]="stylePumpStockClass(loadedPumpRecord.Stocks.ActualStock_ATTI)"
      >
        Altstetten {{loadedPumpRecord.Stocks.ActualStock_ATTI}} Stk./
      </p>
      <p
        [ngClass]="stylePumpStockClass(loadedPumpRecord.Stocks.ActualStock_WETZ)"
      >
        Wetzikon {{loadedPumpRecord.Stocks.ActualStock_WETZ}} Stk./
      </p>
      <br />
      <br />
      <h2>Price: 500 CHF</h2>
    </ion-label>
  </ion-item>
  <ion-item>
    <div class="quantity-input">
      Total Quantity:
      <ion-icon
        name="remove-circle"
        (click)="decrementPumpQuantity()"
      ></ion-icon>
      {{pumpQuantity}}
      <ion-icon name="add-circle" (click)="incrementPumpQuantity()"></ion-icon>
    </div>
  </ion-item>
</ion-content>
<ion-footer class="footer" *ngIf="!isLoading">
  <ion-label class="ion-padding">
    <p>Total Price: {{pumpQuantity * 500}} CHF</p>
  </ion-label>
  <ion-button
    color="primary"
    expand="block"
    class="ion-padding"
    [routerLink]="['/project-name']"
  >
    Add to Project
  </ion-button>
</ion-footer>
