.spinner {
  text-align: center;
  margin-top: 40vw;
}

.no-stock {
  color: red;
}
.less-stock {
  color: orange;
}
.plenty-stock {
  color: green;
}

ion-label {
  h2 {
    font-weight: bold;
  }
  h1 {
    color: rgb(0, 56, 187);
    font-size: larger;
    font-weight: 650;
  }
  p {
    display: inline;
    font-weight: bold;
  }
}

.quantity-input {
  font-size: 20px;
}

.footer {
  padding: 25px;
  p {
    color: rgb(0, 56, 187);
    font-size: 20px;
  }
}
