<ion-header>
  <ion-toolbar color="primary">
    <ion-title> Catalog- All Manufacturers Pumps </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="isLoading" class="spinner">
    <ion-spinner color="primary"></ion-spinner>
    <p>Loading...</p>
  </div>
  <ion-list *ngIf="!isLoading ">
    <ion-item
      *ngFor="let record of fetchedPumpRecords"
      [routerLink]="['./',record.Pumps.AppID]"
    >
      <ion-label>
        <h2>{{record.Pumps.PumpName}}</h2>
        <p [ngClass]="stylePumpStockClass(record.Stocks.ActualStock_ZH6)">
          Zurich {{record.Stocks.ActualStock_ZH6}} Stk./
        </p>
        <p [ngClass]="stylePumpStockClass(record.Stocks.ActualStock_WET)">
          Wettingen {{record.Stocks.ActualStock_WET}} Stk./
        </p>
        <p [ngClass]="stylePumpStockClass(record.Stocks.ActualStock_GLA)">
          Glattbrugg {{record.Stocks.ActualStock_GLA}} Stk./
        </p>
        <br />
        <p [ngClass]="stylePumpStockClass(record.Stocks.ActualStock_ATTI)">
          Altstetten {{record.Stocks.ActualStock_ATTI}} Stk./
        </p>
        <p [ngClass]="stylePumpStockClass(record.Stocks.ActualStock_WETZ)">
          Wetzikon {{record.Stocks.ActualStock_WETZ}} Stk./
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
