.spinner {
  text-align: center;
  margin-top: 40vw;
}
ion-label {
  h2 {
    color: rgb(0, 56, 187);
    font-size: larger;
    font-weight: 650;
  }
  p {
    display: inline;
    font-weight: bold;
  }
}

.no-stock {
  color: red;
}
.less-stock {
  color: orange;
}
.plenty-stock {
  color: green;
}
